@model IEnumerable<WebPhim.Models.Customer>
@{
    ViewBag.Title ="Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@Html.ActionLink("Thêm Khách Hàng", "New", "Customers", null, new {@class = "btn btn-primary"})
@if (!Model.Any())
{
    <p>Không có khách hàng nào !</p>
}
else
{
<table id="customers" class="table table-bordered table-hover">
    <thead>  
    <tr>       
        <th>Danh sách khách hàng.</th>
        <th>Discount Member</th>
        <th>XÓA</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        { 
            <tr>
                <td>                    
                    @Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)                      
                </td>
                <td>
                    @customer.MembershipType.Name
                </td>
                <td>
                    <button data-customer-id="@customer.Id" class="btn-link js-delete">Delete </button>
                </td>
            </tr>
         }
    </tbody>
</table>
}
@section scripts
{
    <script>
        $(document).ready(function(){
            $("#customers .js-delete").on("click", function () {
                if (confirm("Bạn có chắc chắn xóa khách hàng này?")) {
                    $.ajax({
                        url: "/api/customers/" + $(this).attr("data-customer-id"),
                        method: "DELETE",
                        success: function () {
                            location.reload(true);
                            $(this).parents("tr").remove();
                        }                            
                    });
                }
            });
        });
    </script>        
}

  